<div class="phaser-container"
     ng-mouseenter="controller.mouseEnter()"
     ng-mouseleave="controller.mouseLeave()"
     ng-mousemove="controller.mouseMove()">
    <div id="phaser-app">
        <hack-scoreboard></hack-scoreboard>
        <collectables-chart></collectables-chart>
        <div ng-show="controller.showLive()" class="live">
            Live
            <div class="circle blink"></div>
        </div>
        <div id="cutoffCondition" ng-if="controller.sharedPropertiesService.getGameOver()">
            <h1>Game Over. {{controller.endState.cutoffCondition}}</h1>
            <ul>
                <li ng-repeat="teamStat in controller.endState.teamStats | orderBy:['-players','-spawnPoint','name']">
                    <span ng-style="controller.getColour(teamStat.botId)">{{teamStat.name.replace(controller.milestoneBotPrefix, '').replace('Bot', '')}}</span> - <span>{{teamStat.players}}</span> players remaining.
                </li>
            </ul>
        </div>
        <div class="control-overlay"
            ng-if="controller.isLoaded()"
            ng-show="controller.isControlsVisible"
            ng-mouseenter="controller.mouseControlsEnter()"
            ng-mouseleave="controller.mouseControlsLeave()"
            ng-mousedown="controller.mouseDown()">
            <icon class="play-pause-icon glyphicon"
                ng-class="{
                    'glyphicon-pause': controller.isPlaying,
                    'glyphicon-play': !controller.isPlaying
                }"
                ng-click="controller.playToggleClick()"></icon>
            <div class="speed-change"
                ng-repeat="speedMultiplier in controller.getSpeedMultipliers()"
                ng-class="{
                    'speed-change-disabled': controller.getSpeedMultiplier() === speedMultiplier,
                    'speed-change-enabled': controller.getSpeedMultiplier() !== speedMultiplier
                }"
                ng-click="controller.setSpeedMultiplier(speedMultiplier)">
                x{{speedMultiplier}}
            </div>
        </div>
    </div>
    <phase-chart></phase-chart>
</div>
