.hackathonPanel {
    .form-control {
        margin-bottom: 5px;
    }

    .active {
        & a {
            color: white;
        }
        & a:hover {
            color: #23527c;
        }
    }
}

.hackathon-button.list-group-item:hover {
    cursor: pointer;
    color: #555;
    background-color: #f5f5f5;
}
