.hackathonPanel {
    .form-control {
        margin-bottom: 5px;
    }

    .active {
        & a {
            color: white;
        }
        & a:hover {
            color: #23527c;
        }
    }
}
