.teamPanel .teamList {
    border: 1px solid black;
    padding: 8px;
    margin: 16px;
}

.teamDetails .div {
    display: block;
}

.teamListItem {
    cursor: pointer;
    min-width: 300px;
    padding: 10px;
    border: 2px solid transparent;
}

.teamListItem.isSelected {
    min-width: 300px;
    border: 2px solid blue;
}
