.botPanel .uploadedFileName {
    text-align: right;
    color: darkgreen;
}

.botPanel .botListItem {
    cursor: pointer;
    min-width: 300px;
    padding: 10px;
    border: 2px solid transparent;
}

.botPanel .botListItem.isSelected {
    min-width: 300px;
    border: 2px solid blue;
}

.botPanel form {
    display: flex;
    align-items: center;
}

.botPanel form .dropdown {
    flex: 1;
    padding: 0;
}

.botPanel .open .dropdown-menu {
    margin-left: 10px;
}

.botPanel .alert {
    margin-top: 8px;
}
