<div class="botPanel">
    <hack-alert
            ng-show="controller.alert"
            close-alert="controller.refreshAlerts()"
            alert="controller.alert">
    </hack-alert>
    <hack-bot-upload on-upload="controller.onBotUpload(bot)" set-alert="controller.setAlert"></hack-bot-upload>
    <div class="list-group">
        <div class="list-group-item" ng-if="controller.bots.length === 0">No bots found.</div>
        <hack-bot
            ng-repeat="bot in controller.bots track by bot.id"
            ng-click="controller.onBotSelected(bot)"
            ng-class="{'active': controller.isSelected(bot)}"
            is-active="controller.isActive(bot)"
            bot="bot"></hack-bot>
    </div>
    <button class="btn btn-default"
            ng-disabled="controller.editButtonsDisabled"
            ng-click="controller.onMakeActive(bot)">Make Active</button>
    <button class="btn btn-danger pull-right"
            ng-disabled="controller.editButtonsDisabled"
            ng-click="controller.onDelete(bot)">Delete</button>
    <div class="spinner-container" ng-show="controller.makingCall">
        <div class="spinner"></div>
    </div>
</div>
