<div class="botPanel">
    <form name="uploadForm">
        <label for="className">Class name:</label>
        <input type="text"
            id="className"
            ng-disabled="controller.userInterfaceDisabled"
            ng-model="controller.uploadBotClassName">

        <button
            ngf-select
            ng-model="controller.file"
            name="file"
            ngf-max-size="10MB"
            ng-disabled="controller.userInterfaceDisabled"
            >Select File</button>

        <button type="submit"
            ng-disabled="controller.uploadButtonDisabled"
            ng-click="controller.onUpload()">Upload</button>
    </form>

    <div class="uploadedFileName">
        {{controller.uploadedFileName}}
    </div>

    <div class="botList">
        <hack-bot
            ng-repeat="bot in controller.bots track by bot.id"
            ng-click="controller.onBotSelected(bot)"
            ng-class="{'isSelected': controller.isSelected(bot)}"
            is-active="controller.isActive(bot)"
            bot="bot"></hack-bot>
    </div>

    <form name="actionForm">
        <button ng-disabled="controller.editButtonsDisabled"
                ng-click="controller.onMakeActive(bot)">Make Active</button>
        <button ng-disabled="controller.editButtonsDisabled"
                ng-click="controller.onDelete(bot)">Delete</button>
    </form>
</div>