<div class="botUploadForm">
    <div class="input-group">
        <select
            ng-options="bot.className as bot.displayName for bot in controller.botsInCurrentFile"
            ng-disabled="controller.selectBotDisabled"
            class="form-control"
            ng-model="controller.selectedBotInCurrentFile">
        </select>
        <span class="input-group-btn">
            <button
                ng-if="!controller.file"
                ngf-select="controller.onSelectFile($file)"
                class="btn btn-default"
                name="file"
                ngf-max-size="10MB"
                ng-disabled="selectFileDisabled()">Select File
            </button>
            <button
                ng-if="controller.file"
                class="btn btn-success"
                ng-click="controller.upload()"
                ng-disabled="!controller.selectedBotInCurrentFile">Upload Bot
            </button>
        </span>
    </div>
    <h5 class="uploadedFileName"><small>{{controller.uploadedFileName}}</small></h5>
    <hack-alert
            ng-show="controller.alert"
            close-alert="controller.refreshAlerts()"
            alert="controller.alert">
    </hack-alert>
    <div class="spinner-container" ng-show="controller.makingCall">
        <div class="spinner"></div>
</div>
