// Dimensions
@canvas-width: 1280px;
@canvas-height: 640px;
@phase-chart-width: @canvas-width;
@phase-chart-height: 200px;
@collectables-chart-width: 140px;
@collectables-chart-height: @canvas-height;

// Colours
@dropdown-list-grey: #f5f5f5;

// Spinner
@spinner-colour: white;
@spinner-size: 50px;
@spinner-thickness: 7px;
@spinner-animation-duration: 0.6s;

// Misc
@z-index-top: 9999;
