.scoreboard {
    margin-right: @collectables-chart-width;

    .game-info {
        display: flex;
        align-items: center;

        .map {
            flex-grow: 1;
        }

        .teams {
            flex-grow: 1;

            .label {
                font-size: 16px;
            }
        }

        .badge {
            position: relative;
            right: 0;
            color: white;
        }
    }
}
