:root {
  --chart-grid-lines-colour: rgba(69, 69, 69, 0.5);
}

.c3-event-rect {
  cursor: default !important; /* Remove for HAC-328 if chart nodes can be clicked to replay */
}

.c3-grid line {
  stroke: var(--chart-grid-lines-colour);
  stroke-dasharray: 0;
}

.c3-grid text {
  fill: #000000;
}

#collectables-bar-chart .c3-axis.c3-axis-y path {
  stroke: var(--chart-grid-lines-colour);
}

#collectables-bar-chart .c3-axis-y .tick {
  display: none;
}

#players-line-chart .c3-axis-y2 .tick {
  display: none;
}

#players-line-chart .c3-axis.c3-axis-y2 path {
  stroke: var(--chart-grid-lines-colour);
}
