.gamePanel .gameList {
    border: 1px solid black;
    padding: 8px;
    margin: 16px;
}

.gamePanel .mapSelect {
    margin: 8px;
}

.gamePanel .teamListItem {
    cursor: pointer;
    min-width: 300px;
    padding: 10px;
    border: 2px solid transparent;
}
.gamePanel .teamListItem.isSelected {
    min-width: 300px;
    border: 2px solid blue;
}
.gamePanel .alert {
    margin-top: 8px;
}
