<div class="gamePanel">
    <alert
        ng-show="controller.alert"
        is-error="controller.alertIsError()"
        is-success="controller.alertIsSuccess()"
        close-alert="controller.refreshAlerts()"
        alert="controller.alert">
    </alert>
    <div class="input-group">
        <span class="input-group-addon">Hackathon</span>
        <select
            class="form-control"
            ng-model="controller.selectedHackathon"
            ng-options="hackathon as hackathon.name for hackathon in controller.hackathons | orderBy:'name' track by hackathon.id"
            ng-disabled="controller.userInterfaceDisabled"
            ng-change="controller.onHackathonSelected()">
        </select>
    </div>
    <hr></hr>
    <div class="input-group">
        <span class="input-group-addon">Map</span>
        <select
            class="form-control"
            ng-model="controller.game.map"
            ng-options="map.value as map.display for map in controller.maps"
            ng-disabled="controller.userInterfaceDisabled">
        </select>
    </div>
    <h4>Teams</h4>
    <div class="list-group-item" ng-if="controller.teams.length === 0">No teams found.</div>
    <div class="list-group">
        <button
            type="button"
            class="list-group-item"
            ng-class="{'active': controller.isTeamSelected(team)}"
            ng-repeat="team in controller.teams"
            ng-click="controller.onTeamSelected(team)">{{team.name}}
        </button>
    </div>
    <button
        class="btn btn-primary btn-block"
        ng-disabled="controller.isButtonDisabled(1)"
        ng-click="controller.playAgainstCurrentMilestone()">Play Against Current Milestone
    </button>
    <h4>Milestones</h4>
    <div class="list-group-item" ng-if="controller.milestoneTeams.length === 0">No milestones found.</div>
    <div class="list-group">
        <button
            type="button"
            class="list-group-item"
            ng-class="{'active': controller.isTeamSelected(team)}"
            ng-repeat="team in controller.milestoneTeams"
            ng-click="controller.onTeamSelected(team)">
            {{team.name.replace(controller.milestoneBotPrefix, '')}}
            <span ng-if="controller.isCurrentMilestone(team.name)" class="glyphicon glyphicon-map-marker pull-right"></span>
        </button>
    </div>
    <button
        class="btn btn-primary btn-block"
        ng-disabled="controller.isButtonDisabled(2)"
        ng-click="controller.playGame()">Play Game
    </button>
    <div class="spinner-container" ng-show="controller.makingCall">
        <div class="spinner"></div>
    </div>
</div>
